CONFIG_ARM_CCA_GUEST=y
CONFIG_FUSE_FS=y
CONFIG_CUSE=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_SIG=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

CONFIG_KPROBES=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_HAVE_KPROBES=y
CONFIG_KPROBE_EVENTS=y


CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_FRAME_POINTER=y
CONFIG_STACKTRACE=y

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_TRACING=y
CONFIG_FTRACE=y
CONFIG_EARLY_PRINTK=y
CONFIG_CPU_IDLE=n
CONFIG_ACPI=y
CONFIG_DEBUG_INFO_DWARF4=y

CONFIG_OPENCCA_RESERVE_ASIDS=y
CONFIG_OPENCCA_HW_DEBUG=y


# perf support
CONFIG_PERF_EVENTS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PERF_USE_VMALLOC=y
CONFIG_UPROBES=y
CONFIG_FTRACE=y
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
CONFIG_EVENT_TRACING=y
CONFIG_CONTEXT_TRACKING=y
CONFIG_STACKTRACE=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_EVENTS=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_FS=y
CONFIG_PERF_EVENTS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_ARM_PMU=y
CONFIG_ARMV8_PMU=y
CONFIG_KVM=y
CONFIG_KVM_ARM_HOST=y
CONFIG_KVM_ARM_VGIC_V3=y
CONFIG_KVM_ARM_PMU=y
CONFIG_ARM_PMU_ACPI=y
CONFIG_ARMV8_DEPRECATED=y
CONFIG_ARMV8_PMU_V3=y
CONFIG_ARM_PMU_MONITOR_EL2=y
CONFIG_ARM64_PSEUDO_NMI=y
CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PROFILING=y
CONFIG_PERF_EVENTS=y
CONFIG_ARM_PMU=y
CONFIG_HW_PERF_EVENTS=y

# debug page tables
CONFIG_DEBUG_WX=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_PTDUMP_STAGE2_DEBUGFS=y
CONFIG_PTDUMP_CORE=y
